body {
background-color: rgba(4, 73, 100, 0.918);
font-family: Arial, Helvetica, sans-serif;
height: 100%;
margin: 0;
}

.caixa {
    max-width: 1100px;
    margin: 36px auto;
    padding: 28px;
    background-color: aliceblue;
    box-sizing: border-box;
}

.texti-10-inhas {
    line-height: 1.55;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.texti-10-inhas p {
    margin: 0
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 10px;
}
.galeria img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}